.foot footer{
  background-color: teal;
/* color: blue; */
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
}

.foot .color {
  color : red
}
.dark .foot footer{
  background-color: #252422;
}